@model coursesProject.Models.User

@{
    ViewData["Title"] = "Index";
    var error = false;
}

<div class="panel panel-default material-panel material-panel_primary">
    <h2 class="panel-heading material-panel__heading">@Html.DisplayFor(model => model.Email)</h2>
    <div class="panel-body material-panel__body">
        <div class="col-md-3 text-center">
            Avatar <br />
            @if (Model.Avatar != null)
            {
                <img style="width:200px; height:200px; " src="data:image/jpg;base64,@(Convert.ToBase64String(Model.Avatar))" alt="" />
            }
            else
            {
                error = true;
            }
        </div>
        <div class="col-md-3 text-center">

            Passport Scan<br />
            @if (Model.PasportScan != null)
            {
                <img style="width:200px; height:200px; " src="data:image/jpg;base64,@(Convert.ToBase64String(Model.PasportScan))" alt="" />
            }
            else
            {
                error = true;
            }
        </div>

        <div class="col-md-6">
            <div class="text-capitalize">
                <p>
                    @Html.DisplayNameFor(model => model.Status)

                    @Html.DisplayFor(model => model.Status)
                </p>


                <p>
                    @Html.DisplayNameFor(model => model.LastLoginDate)

                    @Html.DisplayFor(model => model.LastLoginDate)
                </p>

                <p>
                    @Html.DisplayNameFor(model => model.RegistrationDate)

                    @Html.DisplayFor(model => model.RegistrationDate)
                </p>

                <p>
                    @Html.DisplayNameFor(model => model.ProjectCount)

                    @Html.DisplayFor(model => model.ProjectCount)
                </p>
                <div class="btn-group material-btn-group_lg" role="group" aria-label="Basic example">
                    <button type="button" class="btn material-btn material-btn_primary" data-toggle="modal" data-target="#myModal_primary">Change avatar</button>
                    <a asp-area="" asp-controller="User" asp-action="PassportScan" title="Passport scan" type="button" class="btn material-btn material-btn_primary">Passport scan</a>
                    <a asp-area="" asp-controller="Manage" asp-action="ChangePassword" title="Manage" class="btn material-btn material-btn_primary">Reset password</a>
                </div><br/>
                @*<button class="btn material-btn material-btn_primary" data-toggle="modal" data-target="#myModal_primary">Change avatar</button><br /><br />
                <a asp-area="" asp-controller="User" asp-action="PassportScan" title="Passport scan" class="btn material-btn material-btn_primary">Passport scan</a><br /><br />
                <a asp-area="" asp-controller="Manage" asp-action="ChangePassword" title="Manage" class="btn material-btn material-btn_primary">Reset password</a>*@
                <div class="modal material-modal_primary fade" id="myModal_primary">
                    <div class="modal-dialog ">
                        <div class="modal-content material-modal__content">
                            <form asp-action="Avatar" enctype="multipart/form-data">
                                <div class="modal-header material-modal__header">
                                    <button class="close material-modal__close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title material-modal__title">Upload avatar</h4>
                                </div>
                                <div class="modal-body material-modal__body">

                                    <div class="form-horizontal text-center">

                                        <div class="form-group">
                                            <div class="col-md-1"></div>
                                            <div class="form-group materail-input-block materail-input-block_primary col-md-6">
                                                <input name="Avatar" type="file" class="form-control materail-input" title="Avatar" placeholder="Avatar">
                                                <span asp-validation-for="Avatar" class="materail-input-block__line text-danger">@ViewBag.imgEror</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer material-modal__footer">
                                    <button class="btn material-btn material-btn" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary material-btn material-btn_primary">Upload</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>



            </div>
    </div>
</div>
@*<div class="pager">
    <div class="row">
        <div class="col-md-4">
            <hr />
            @Html.DisplayNameFor(model => model.Avatar)
            @if (Model.Avatar != null)
             {
                   <img style="width:200px; height:200px; " src="data:image/jpg;base64,@(Convert.ToBase64String(Model.Avatar))" />
             }
            
            <form asp-action="Avatar" enctype="multipart/form-data">
                <div class="form-horizontal text-center">
                    <hr />
                    <div class="form-group">
                        <label class="control-label"> Avatar</label><br/>
                        <div class="col-md-10">
                            <input name="Avatar" type="file" class="form-control" />
                            <span asp-validation-for="Avatar" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Change" class="btn material-btn material-btn_primary" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <text class="text-danger">@ViewBag.eror</text>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <hr />
            <div class="text-capitalize">
                @Html.DisplayNameFor(model => model.Region)

                @Html.DisplayFor(model => model.Region)
                <br /><br />
                @Html.DisplayNameFor(model => model.Status)

                @Html.DisplayFor(model => model.Status)
                <br /><br />
                      <center>
                          <div class=" material-checkbox-group material-checkbox-group_primary">
                              <input type="checkbox" id="checkbox1" name="checkbox" class="material-checkbox" value="@Model.IsBan">
                              <label class="material-checkbox-group__label" style="display: inline-block" for="checkbox1">Is Ban</label>
                          </div>
                      </center>
                <br /><br />
            </div>
            <hr />
            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Reset password</a> <br /><br />
            <a asp-area="" asp-controller="User" asp-action="PassportScan" title="Passport scan">Passport scan</a>
            
        </div>
    </div>
</div>*@
@*<div>
    <h4>@Html.DisplayFor(model => model.IdentityUser.Email)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsBan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsBan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>
        <dd>
            
            
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PasportScan)
        </dt>
        <dd>
            
            @if (Model.PasportScan != null)
            {
                <img style="width:200px; height:200px; " src="data:image/jpg;base64,@(Convert.ToBase64String(Model.PasportScan))" />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonalInfoForVerified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonalInfoForVerified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommentForVerified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommentForVerified)
        </dd>
    </dl>
</div>*@
@*<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
