@model IEnumerable<coursesProject.Models.UserViewModel>
    @*
        For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    *@
    @foreach (var item in Model)
    {
        <tr class="user-row">
            <td>
                @Html.DisplayFor(model => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBanned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalInfo)
            </td>
            @Html.HiddenFor(x => item.User, new { @class = "UserID" })
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <input type="checkbox" class="checkbox checkbox-inline CheckedUser" />
            </td>
        </tr>
    }