@using Microsoft.EntityFrameworkCore.Query.Expressions
@model IEnumerable<coursesProject.Models.UserViewModel>

@functions {
    private string GetNumber(int item) => $"checkbox" + item;
}

@{
    ViewData["Title"] = "Admin";
    var count = 0;
}
<p>
    <h2>Admin</h2>
</p>
<div class="col-md-3">
    <div class="dropdown material-dropdown material-dropdown_primary">
        <button class="dropdown-toggle material-dropdown__btn" data-toggle="dropdown">Sort<span class="caret material-dropdown__caret "></span></button>
        <ul class="dropdown-menu material-dropdown-menu material-dropdown-menu_primary">
            <li class="dropdown-header material-dropdown__header">Sort</li>
            <li><a id="SortByVerified" href="#0" class="material-dropdown-menu__link">Verified users</a></li>
            <li><a id="SortByApplied" href="#0" class="material-dropdown-menu__link ">Applied users</a></li>
            <li><a id="newUser" href="#0" class="material-dropdown-menu__link ">New users</a></li>
            <li class="divider material-dropdown__divider"></li>
            <li><a id="SortAll" class="material-dropdown-menu__link">All</a></li>
        </ul>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsBanned)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PersonalInfo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
            <th>
                <text class="text-info"> delete/ban</text>
            </th>
            <th>
                <button id="Ban" class="btn material-btn material-btn_sm material-btn_primary">Lock</button>
            </th>
            <th>
                <button id="UnLock" class="btn material-btn material-btn_sm material-btn_primary"> Unlock</button>
            </th>
            <th>
                <button id="Del" class="btn material-btn material-btn_sm material-btn_primary"> Delete</button>
            </th>
            <th>
                <button id="Verified" class="btn material-btn material-btn_sm material-btn_primary"> Info</button>
            </th>
            
        </tr>
    </thead>
    <tbody id="result">
        @foreach (var item in Model)
        {
            
            <tr class="user-row">
                <td>
                    @Html.DisplayFor(model => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @item.IsBanned
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonalInfo)
                </td>
                @Html.HiddenFor(x => item.User, new { @class = "UserID" })
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    <div class="main-container__column material-checkbox-group material-checkbox-group_primary">
                        <input class="material-checkbox CheckedUser" id="@GetNumber(count)" name="checkbox" type="checkbox" value="@item.User">
                        <label class="material-checkbox-group__label" for="@GetNumber(count)"></label>
                    </div>	
                    @*<input type="checkbox" class="checkbox checkbox-inline CheckedUser" value="@item.User"/>*@
                </td>
            </tr>
            count++;
        }
       

    </tbody>
</table>
<text class="text-danger">@ViewBag.eror</text>
    <script>

        var newUser = "newUser";
        var applied = "applied";
        var verified = "verified";
        var all = "all";
        var urlSort = "/Admin/Index?param=";
        var urlVerified = "/Admin/Verified/";
        var urlUnlock = "/Admin/UnlockUsers/";
        var urlLock = "/Admin/lockUsers/";
        var urlDelete = "/Admin/DeleteUsersAndProjectConfirmed/";

        $('.user-row').click(function () {
            $('.user-row').removeClass('active');
            $(this).addClass('active');
        });




        $('#Del').click(function () {
            var checkboxes = $('input[type=checkbox]:checked');
            var temp = "?";
            for (var i = 0; i < checkboxes.length; i++) {
                var x = checkboxes[i].value;
                if (i == 0) {
                    temp += "idUsers[" + i + "]=" + x;
                } else
                    temp += "&idUsers[" + i + "]=" + x;

            }
            window.location = urlDelete + temp;
        });


        $('#Ban').click(function () {
            var checkboxes = $('input[type=checkbox]:checked');
            var temp = "?";
            for (var i = 0; i < checkboxes.length; i++) {
                var x = checkboxes[i].value;
                if (i == 0) {
                    temp += "idUsers[" + i + "]=" + x;
                } else
                    temp += "&idUsers[" + i + "]=" + x;
                
            }  
            window.location = urlLock + temp;
        });

        $('#UnLock').click(function () {
            var checkboxes = $('input[type=checkbox]:checked');
            var temp = "?";
            for (var i = 0; i < checkboxes.length; i++) {
                var x = checkboxes[i].value;
                if (i == 0) {
                    temp += "idUsers[" + i + "]=" + x;
                } else
                    temp += "&idUsers[" + i + "]=" + x;

            }
            window.location = urlUnlock + temp;
        });


        $('#Verified').click(function () {

            var temp = $('.active .UserID').val();
            if (temp) {
                window.location = urlVerified + temp;
            } else
            { alert('select user'); }
        });
        
        $('#SortByVerified').click(function () {
            window.location = urlSort + verified;
        });

        $('#SortByApplied').click(function () {
            window.location = urlSort + applied;
        });
        
        $('#newUser').click(function() {
            window.location = urlSort + newUser;
        });

        $('#SortAll').click(function () {
            window.location = urlSort + all;
        });
    </script>