@model coursesProject.Models.UserViewModel

@{
    ViewData["Title"] = "Verified";
    var error = false;
}

<div class="panel panel-default material-panel material-panel_primary">
    <h2 class="panel-heading material-panel__heading">@Html.DisplayFor(model => model.Email)</h2>
    <div class="panel-body material-panel__body">
        <div class="col-md-4">
            @Html.DisplayNameFor(model => model.Avatar)
            @if (Model.AvatarByte != null)
            {
                <img style="width:200px; height:200px; " src="data:image/jpg;base64,@(Convert.ToBase64String(Model.AvatarByte))" alt=""/>
            }
            else
            {
                error = true;
            }
        </div>
        <div class="col-md-4">

            @Html.DisplayNameFor(model => model.PasportScan)
            @if (Model.PasportScanByte != null)
            {
                <img style="width:200px; height:200px; " src="data:image/jpg;base64,@(Convert.ToBase64String(Model.PasportScanByte))" alt=""/>
            }
            else
            {
                error = true;
            }
        </div>  

        <div class="col-md-4">
            <div class="text-capitalize">
                <p>
                    @Html.DisplayNameFor(model => model.Status)

                    @Html.DisplayFor(model => model.Status)
                </p>
                <p>
                    <div class="material-checkbox-group material-checkbox-group_primary">
                        <label class="material-checkbox-group__label" for="checkbox1">Is Banned</label>
                        <input type="checkbox" id="checkbox1" name="checkbox" class="material-checkbox" value="@Model.IsBanned">
                    </div>
                </p>

                <p>
                    @Html.DisplayNameFor(model => model.LastLoginDate)

                    @Html.DisplayFor(model => model.LastLoginDate)
                </p>

                <p>
                    @Html.DisplayNameFor(model => model.RegistrationDate)

                    @Html.DisplayFor(model => model.RegistrationDate)
                </p>

                <p>
                    @Html.DisplayNameFor(model => model.ProjectCount)

                    @Html.DisplayFor(model => model.ProjectCount)
                </p>
                <p>
                    @Html.DisplayNameFor(model => model.Comment)

                    @Html.DisplayFor(model => model.Comment)
                </p>
                <p>
                    @Html.DisplayNameFor(model => model.PersonalInfo)

                    @Html.DisplayFor(model => model.PersonalInfo)
                </p>
            </div>
            @if (!error && @Model.Status == "Applied")
            {
                <a id="Verified" class="btn material-btn material-btn_primary material-btn_sm material-card__showmore material-card__showmore_pos-right">Confirmed</a>
                <a id="UnVerified" class="btn material-btn material-btn_primary material-btn_sm material-card__showmore material-card__showmore_pos-right">Not confirmed</a>
            }
        </div>
    </div>
</div>



<script>
    $('#Verified').click(function () {
        var temp = '@Model.User';
        window.location = '/Admin/VerifiedConfirmed/' + temp;
    });

    $('#UnVerified').click(function () {
        var temp = '@Model.User';
        window.location = '/Admin/VerifiedUnConfirmed/' + temp;
    });
</script>
