@model coursesProject.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="row">
    <div class="col-md-4">
        <h4>@Model.NameProject</h4>
        @if (Model.Avatar != null)
        {
            <img style="width:100%; height:270px; " src="data:image/jpg;base64,@(Convert.ToBase64String(Model.Avatar))" />
        }
   
    </div>
    <div class="col-md-5">
        @Model.Description
    </div>
    <div class="col-md-4">
        <ul>
            @foreach (var item in Model.Goals)
            {
                <li>
                    <text class="text-info">
                        @item.Text <label style="text-align:right">@item.NeedMoney</label>
                    </text>
                </li>
            }
        </ul>

    </div>


                                                                        @*WebMoney PAYMENT*@
    @*<form id=pay name=pay method="POST" action="https://merchant.webmoney.ru/lmi/payment.asp">            
        <p>пример платежа через сервис Web Merchant Interface</p> <p>заплатить 1 WMZ...</p>
        <p>
            <input type="hidden" name="LMI_PAYMENT_AMOUNT" value="1.0">
            <input type="hidden" name="LMI_PAYMENT_DESC" value="тестовый платеж">
            <input type="hidden" name="LMI_PAYMENT_NO" value="1">
            <input type="hidden" name="LMI_PAYEE_PURSE" value="Z145179295679">
            <input type="hidden" name="LMI_SIM_MODE" value="0">
        </p>
        <p>
            <input type="submit" value="submit">
        </p>
    </form>*@ 
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a asp-action="DeleteConfirmed" asp-route-id="@Model.ID">Delete</a>
</div>
