@model IEnumerable<coursesProject.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SelfProjects)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubProjects)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CommentsCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GeneralDonate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SuccesProjectsCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Language)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelfProjects)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubProjects)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneralDonate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuccesProjectsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
